<!DOCTYPE html>
<html>
  
  <header>
  <title> Alpha Blog</title>
  
  </header>
  
  <%= link_to 'Home', root_path(@patient) %>
  <body>
    <h1>
      Alpha Blog - About
    </h1>
    
    
    <footer>
  Ruby On Rails 2019
  </footer>
  </body>   
</html>